body {
  margin: 0px;
  font-family: sans-serif;
  padding: 0px;
  background-color: pink;
}

.container {
  display: grid;
  gap: 15px;
  padding: 20px;

  /* Grid layout */
  grid-template-columns: repeat(4, 1);
  grid-template-rows: 200px 200px;
}

/* Boxes */
.box {
  background:rgb(155, 111, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}


.box1{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.box2 {
  grid-column: 3 / 5;
}

.box3 {
  grid-column: 1 / 2;
}

.box4 {
  grid-column: 2 / 4;
}

.box5 {
  grid-column: 4 / 5;
}

.box6 {
  grid-column: 1 / 5;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1;
  }

  .box {
    grid-column: auto !important;
  }
}